
.main_wrapper{
    background-color: white;
    display: inline-block;
    margin:15px;
}

.sss{
    text-align: center;
    background: white;
   
    width:25%;
    float: left;
    margin:7px
}

.ReceipeImage{
    width:250px
}

.sss img{
    margin-top: 5%;
}


.sss Ingredients{
    text-align: left;
}
